.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
}

.header .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.header ul li a, .header .nav-center li a {
    font-family: Arial, sans-serif;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

.header ul li a:hover, .header .nav-center li a:hover {
    background-color: #bcbcbc;
}