<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity Details</title>
    <link rel="stylesheet" th:href="@{/css/styleAD.css}">
</head>

<body>

<div class="box">
    <h3>Paintball</h3>
    <p>lorem ipsum</p>

    <h3>Krav</h3>
    <p>lorem ipsum</p>
</div>

<h3 id="header3">Udstyr</h3>

<button>Rediger</button>

<ul id="pf1">
    <li>Første punkt</li>
    <li>Andet punkt</li>
    <li>Tredje punkt</li>
</ul>

<table border="1">
    <tr>
        <th>lorem</th>
        <th>ipsum</th>
        <th>lorem</th>
    </tr>
    <tr>
        <td>lorem</td>
        <td>ipsum</td>
        <td>lorem</td>
    </tr>
    <tr>
        <td>lorem</td>
        <td>ipsum</td>
        <td>lorem</td>
    </tr>
</table>

</body>
</html>